<!--===========================
=            About            =
============================-->

<section class="section about">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6 align-self-center">
				<div class="image-block bg-about">
					<img class="img-fluid" src="assets/images/Blogo.png" alt="">
				</div>
			</div>
			<div class="col-lg-8 col-md-6 align-self-center">
				<div class="content-block">
					<h2>About <span class="alternate">BizConnect</span></h2>
					<div class="description-one">
						<p>
							Our mission is to connect businesses, organizations, and individuals to a wide range of professional events, conferences, workshops, and networking opportunities across the country. Whether you're an attendee looking for an engaging event or an organizer seeking the perfect venue, BizConnect offers a seamless experience to enhance your business tourism journey.
						</p>
					</div>
					<div class="description-two">
						<p>We aim to position Bosnia and Herzegovina as a top destination for business tourism by promoting the country’s rich cultural heritage, scenic landscapes, and modern infrastructure. With cities like Sarajevo, Banja Luka, Zenica, Tuzla, and Mostar leading the way, there is no shortage of amazing venues that are perfect for hosting large-scale conferences, intimate business meetings, and everything in between.</p>
					</div>
					<ul class="list-inline">
						<li class="list-inline-item">
							<a href="#contact" class="btn btn-main-md">Contact us</a>
						</li>
					
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<!--====  End of About  ====-->

<!--==============================
=            Venues            =
===============================-->

<section class="section speakers bg-speaker overlay-lighter">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<!-- Section Title -->
				<div class="section-title white">
					<h3>Where Do We <span class="alternate">Host?</span></h3>
					<p>Below are some of our most popular venues.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-6">
				<!-- Venue 1 -->
				<div class="speaker-item">
					<div class="image">
						<img src="assets/images/venues/hotelhills.jpg" alt="speaker" class="img-fluid">
						<div class="primary-overlay"></div>
						<div class="socials">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#contact"><i class="fa fa-calendar"></i></a></li>
								<li class="list-inline-item"><a href="#venues"><i class="fa fa-picture-o"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="content text-center">
						<h5><a href="single-speaker.html">Hotel Hills</a></h5>
						<p>Sarajevo</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<!-- Venue 2 -->
				<div class="speaker-item">
					<div class="image">
						<img src="assets/images/venues/hotelbosna.jpg" alt="speaker" class="img-fluid">
						<div class="primary-overlay"></div>
						<div class="socials">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#contact"><i class="fa fa-calendar"></i></a></li>
								<li class="list-inline-item"><a href="#venues"><i class="fa fa-picture-o"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="content text-center">
						<h5><a href="single-speaker.html">Hotel Bosna</a></h5>
						<p>Banja Luka</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<!-- Venue 3 -->
				<div class="speaker-item">
					<div class="image">
						<img src="assets/images/venues/marriott.jpg" alt="speaker" class="img-fluid">
						<div class="primary-overlay"></div>
						<div class="socials">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#contact"><i class="fa fa-calendar"></i></a></li>
								<li class="list-inline-item"><a href="#venues"><i class="fa fa-picture-o"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="content text-center">
						<h5><a href="single-speaker.html">Courtyard by Marriott</a></h5>
						<p>Sarajevo</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<!-- Venue 4 -->
				<div class="speaker-item">
					<div class="image">
						<img src="assets/images/venues/hotelsunce.jpg" alt="speaker" class="img-fluid">
						<div class="primary-overlay"></div>
						<div class="socials">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#contact"><i class="fa fa-calendar"></i></a></li>
								<li class="list-inline-item"><a href="#venues"><i class="fa fa-picture-o"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="content text-center">
						<h5><a href="single-speaker.html">Hotel Sunce</a></h5>
						<p>Neum</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--====  End of Venues  ====-->

<!--=================================
=            Testimonial            =
==================================-->

<section class="section testimonial">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h3>What Our Users Are <span class="alternate">Saying</span></h3>
					<p>Discover how BizConnect has made a difference in the business tourism community in Bosnia.</p>
				</div>
			</div>
		</div>
		<div class="row mt-20">
			<div class="col-lg-4 col-md-6">
				<!-- Testimonial -->
				<div class="testimonial-item">
					<!-- Given Comment -->
					<div class="comment">
						<p>BizConnect has truly streamlined the process of finding and registering for business events in Bosnia. The platform offers a wide range of conferences, workshops, and seminars. As an event organizer, I appreciate how easy it is to list and promote my events. Highly recommended for anyone looking to expand their business network.</p>
					</div>
					<div class="person">
						<div class="media">
							<!-- Person Image -->
							<img src="assets/images/speakers/speaker-thumb-three.jpg" alt="person-image">
							<div class="media-body">
								<!-- Person Name -->
								<div class="name"><p>Event Organizer</p></div>
								<!-- Profession -->
								<div class="profession"><p>Web Developer</p></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<!-- Testimonial -->
				<div class="testimonial-item">
					<!-- Given Comment -->
					<div class="comment">
						<p>I attended a conference through BizConnect last month and was very impressed with the platform. The registration process was simple, and it’s a great way to discover business events in Bosnia and connect with like-minded professionals. For anyone in the business tourism sector, highly recommend!</p>
					</div>
					<div class="person">
						<div class="media">
							<!-- Person Image -->
							<img src="assets/images/speakers/speaker-thumb-one.jpg" alt="person-image">
							<div class="media-body">
								<!-- Person Name -->
								<div class="name"><p>Kaite Stricker</p></div>
								<!-- Profession -->
								<div class="profession"><p>Development Consultant</p></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mx-auto">
				<!-- Testimonial -->
				<div class="testimonial-item">
					<!-- Given Comment -->
					<div class="comment">
						<p>BizConnect has been a game-changer for us as a venue provider. The platform has allowed us to easily showcase our location to event organizers, helping us attract a variety of business events. The website is efficient, easy to use, and makes connecting with potential clients seamless. A must-have tool for venue owners.</p>
					</div>
					<div class="person">
						<div class="media">
							<!-- Person Image -->
							<img src="assets/images/speakers/speaker-thumb-five.jpg" alt="person-image">
							<div class="media-body">
								<!-- Person Name -->
								<div class="name"><p>Adam Smith</p></div>
								<!-- Profession -->
								<div class="profession"><p>Venue Manager</p></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--====  End of Testimonial  ====-->