<!--================================
=            News Posts            =
=================================-->

<section class="news section">
	<div class="container">
        <div class="row">
			<div class="col-12">
				<div class="section-title">
					<h3>All <span class="alternate">Featured Events</span></h3>
                    <p class="text-center note"><i class="fa fa-info-circle"></i> Date and time of events are susceptible to change.</p>
				</div>
			</div>
		</div>
		<div class="row justify-content-center mt-30">
			<div class="col-lg-4 col-md-6 col-sm-8">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="#single-event">
							<img src="assets/images/events/event1.jpg" alt="post-image" class="img-fluid">
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>5<span>April</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="#single-event">Innovation Summit</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
									<i class="fa fa-map-pin"></i>
									<a href="#">Sarajevo</a>
								</li>
								<li class="list-inline-item">
									<i class="fa fa-user-o"></i>
									<a href="#">300+</a>
								</li>
								<li class="list-inline-item">
									<i class="fa fa-money"></i>
									<a href="#">50$</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-8">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="#single-event">
							<img src="assets/images/events/event2.jpg" alt="post-image" class="img-fluid">
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>12<span>April</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="#single-event">Tech Conference</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
									<i class="fa fa-map-pin"></i>
									<a href="#">Zenica</a>
								</li>
								<li class="list-inline-item">
									<i class="fa fa-user-o"></i>
									<a href="#">500+</a>
								</li>
								<li class="list-inline-item">
									<i class="fa fa-money"></i>
									<a href="#">40$</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-8">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="#single-event">
							<img src="assets/images/events/event3.jpg" alt="post-image" class="img-fluid">
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>18<span>April</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="#single-event">E-commerce Expo</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
									<i class="fa fa-map-pin"></i>
									<a href="#">Mostar</a>
								</li>
								<li class="list-inline-item">
									<i class="fa fa-user-o"></i>
									<a href="#">200+</a>
								</li>
								<li class="list-inline-item">
									<i class="fa fa-money"></i>
									<a href="#">30$</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-8">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="#single-event">
							<img src="assets/images/events/event4.jpg" alt="post-image" class="img-fluid">
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>25<span>April</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="#single-event">Bosnia Tourism Expo</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
									<i class="fa fa-map-pin"></i>
									<a href="#">Banja L.</a>
								</li>
								<li class="list-inline-item">
									<i class="fa fa-user-o"></i>
									<a href="#">400+</a>
								</li>
								<li class="list-inline-item">
									<i class="fa fa-money"></i>
									<a href="#">35$</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-8">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="#single-event">
							<img src="assets/images/events/event5.jpg" alt="post-image" class="img-fluid">
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>2<span>May</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="#single-event">Business Networking Forum</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
									<i class="fa fa-map-pin"></i>
									<a href="#">Tuzla</a>
								</li>
								<li class="list-inline-item">
									<i class="fa fa-user-o"></i>
									<a href="#">250+</a>
								</li>
								<li class="list-inline-item">
									<i class="fa fa-money"></i>
									<a href="#">20$</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-8">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="#single-event">
							<img src="assets/images/events/event6.jpg" alt="post-image" class="img-fluid">
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>6<span>May</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="#single-event">Future of Game Design</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
									<i class="fa fa-map-pin"></i>
									<a href="#">Mostar</a>
								</li>
								<li class="list-inline-item">
									<i class="fa fa-user-o"></i>
									<a href="#">120+</a>
								</li>
								<li class="list-inline-item">
									<i class="fa fa-money"></i>
									<a href="#">15$</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
            <div class="col-lg-4 col-md-6 col-sm-8">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="#single-event">
							<img src="assets/images/events/event7.jpg" alt="post-image" class="img-fluid">
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>10<span>May</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="#single-event">Startup Pitching Event</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
									<i class="fa fa-map-pin"></i>
									<a href="#">Sarajevo</a>
								</li>
								<li class="list-inline-item">
									<i class="fa fa-user-o"></i>
									<a href="#">100+</a>
								</li>
								<li class="list-inline-item">
									<i class="fa fa-money"></i>
									<a href="#">40$</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
            <div class="col-lg-4 col-md-6 col-sm-8">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="#single-event">
							<img src="assets/images/events/event8.jpg" alt="post-image" class="img-fluid">
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>12<span>May</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="#single-event">Business Networking Forum 2.0</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
									<i class="fa fa-map-pin"></i>
									<a href="#">Sarajevo</a>
								</li>
								<li class="list-inline-item">
									<i class="fa fa-user-o"></i>
									<a href="#">350+</a>
								</li>
								<li class="list-inline-item">
									<i class="fa fa-money"></i>
									<a href="#">20$</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
            <div class="col-lg-4 col-md-6 col-sm-8">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="#single-event">
							<img src="assets/images/events/event9.jpg" alt="post-image" class="img-fluid">
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>24<span>May</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="#single-event">Digital Transformation Summit</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
									<i class="fa fa-map-pin"></i>
									<a href="#">Zenica</a>
								</li>
								<li class="list-inline-item">
									<i class="fa fa-user-o"></i>
									<a href="#">200+</a>
								</li>
								<li class="list-inline-item">
									<i class="fa fa-money"></i>
									<a href="#">20$</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
            
		</div>
	</div>
</section>

<!--====  End of News Posts  ====-->
