<!--============================
=            Banner            =
=============================-->

<section class="banner bg-banner-one overlay">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<!-- Content Block -->
				<div class="block">
					<!-- Coundown Timer -->
					<div class="timer"></div>
					<h1>Business</h1>
					<h2>Sarajevo Leadership</h2>
					<h6>26 / 30 May Sarajevo</h6>
					<!-- Action Button -->
					<a href="contact.html" class="btn btn-white-md">get ticket now</a>
				</div>
			</div>
		</div>
	</div>
</section>
	
<!--====  End of Banner  ====-->

<!--================================
=            News Posts            =
=================================-->

<section class="news section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h3>BizConnect <span class="alternate">News</span></h3>
					<p>Keep up with industry news and upcoming events in Bosnia and Herzegovina’s business community.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="news-single.html">
							<img src="assets/images/news/post-thumb-one.jpg" alt="post-image" class="img-fluid">
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>20<span>May</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="news-single.html">Elementum purus id ultrices.</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
									<i class="fa fa-user-o"></i>
									<a href="#">Admin</a>
								</li>
								<li class="list-inline-item">
									<i class="fa fa-heart-o"></i>
									<a href="#">350</a>
								</li>
								<li class="list-inline-item">
									<i class="fa fa-comments-o"></i>
									<a href="#">30</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="news-single.html">
							<img src="assets/images/news/post-thumb-two.jpg" alt="post-image" class="img-fluid">
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>20<span>May</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="news-single.html">Elementum purus id ultrices.</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
									<i class="fa fa-user-o"></i>
									<a href="#">Admin</a>
								</li>
								<li class="list-inline-item">
									<i class="fa fa-heart-o"></i>
									<a href="#">350</a>
								</li>
								<li class="list-inline-item">
									<i class="fa fa-comments-o"></i>
									<a href="#">30</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 m-md-auto col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="news-single.html">
							<img src="assets/images/news/post-thumb-three.jpg" alt="post-image" class="img-fluid">
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>20<span>May</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="news-single.html">Elementum purus id ultrices.</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
									<i class="fa fa-user-o"></i>
									<a href="#">Admin</a>
								</li>
								<li class="list-inline-item">
									<i class="fa fa-heart-o"></i>
									<a href="#">350</a>
								</li>
								<li class="list-inline-item">
									<i class="fa fa-comments-o"></i>
									<a href="#">30</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--====  End of News Posts  ====-->

<!--==================================
=            Registration            =
===================================-->

<section class="registration">
	<div class="container-fuild p-0">
		<div class="row">
			<div class="col-lg-6 col-md-12 p-0">
				<div class="service-block bg-service overlay-primary text-center">
					<div class="row no-gutters">
						<div class="col-6">
							<!-- Service item -->
							<div class="service-item">
								<i class="fa fa-microphone"></i>
								<h5>50 + Speakers</h5>
							</div>
						</div>
						<div class="col-6">
							<!-- Service item -->
							<div class="service-item">
								<i class="fa fa-flag"></i>
								<h5>500 + Seats</h5>
							</div>
						</div>
						<div class="col-6">
							<!-- Service item -->
							<div class="service-item">
								<i class="fa fa-ticket"></i>
								<h5>6500 + tickets sold</h5>
							</div>
						</div>
						<div class="col-6">
							<!-- Service item -->
							<div class="service-item">
								<i class="fa fa-calendar"></i>
								<h5>3+ day events</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-12 p-0">
				<div class="registration-block bg-registration overlay-dark">
					<div class="block">
						<div class="title text-left">
							<h3>Register to <span class="alternate">BizConnect</span></h3>
							<p>Book a venue or a ticket. The choice is yours.</p>
						</div>
							<div class="col-12">
								<a href="#faq">
								<button type="" class="btn btn-white-md">Register Now</button>
								</a>
							</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--====  End of Registration  ====-->

<!--=============================
=            Gallery            =
==============================-->

<section class="section gallery">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="controls">
					<div class="btn-group btn-group-toggle d-block" data-toggle="buttons">
						<label class="btn active">
							<input type="radio" name="gallery-filter" value="all" checked="checked" />All
						</label>
						<label class="btn">
							<input type="radio" name="gallery-filter" value="conference" />Conference
						</label>
						<label class="btn">
							<input type="radio" name="gallery-filter" value="meeting" />Meeting
						</label>
						<label class="btn">
							<input type="radio" name="gallery-filter" value="events" />Events
						</label>
						<label class="btn">
							<input type="radio" name="gallery-filter" value="party" />Party
						</label>
						<label class="btn">
							<input type="radio" name="gallery-filter" value="concert" />Concert
						</label>
					</div>
				</div>
				<div class="gallery-wrapper row">
					<div class="gallery-item col-lg-4 col-md-6" data-groups="[&quot;meeting&quot;]">
						<div class="image-block">
							<div class="image">
								<img src="assets/images/gallery/gallery-one.jpg" alt="gallery-image" class="img-fluid">
								<div class="primary-overlay">
									<a class="image-popup" data-effect="mfp-with-zoom" href="assets/images/gallery/gallery-popup-one.jpg"><i
											class="fa fa-picture-o"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="gallery-item col-lg-4 col-md-6" data-groups="[&quot;party&quot;,&quot;events&quot;]">
						<div class="image-block">
							<div class="image">
								<img src="assets/images/gallery/gallery-two.jpg" alt="gallery-image" class="img-fluid">
								<div class="primary-overlay">
									<a class="image-popup" data-effect="mfp-with-zoom" href="assets/images/gallery/gallery-popup-two.jpg"><i
											class="fa fa-picture-o"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="gallery-item col-lg-4 col-md-6" data-groups="[&quot;meeting&quot;,&quot;party&quot;]">
						<div class="image-block">
							<div class="image">
								<img src="assets/images/gallery/gallery-three.jpg" alt="gallery-image" class="img-fluid">
								<div class="primary-overlay">
									<a class="image-popup" data-effect="mfp-with-zoom" href="assets/images/gallery/gallery-popup-three.jpg"><i
											class="fa fa-picture-o"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="gallery-item col-lg-4 col-md-6" data-groups="[&quot;meeting&quot;,&quot;concert&quot;]">
						<div class="image-block">
							<div class="image">
								<img src="assets/images/gallery/gallery-four.jpg" alt="gallery-image" class="img-fluid">
								<div class="primary-overlay">
									<a class="image-popup" data-effect="mfp-with-zoom" href="assets/images/gallery/gallery-popup-four.jpg"><i
											class="fa fa-picture-o"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="gallery-item col-lg-4 col-md-6" data-groups="[&quot;concert&quot;,&quot;party&quot;]">
						<div class="image-block">
							<div class="image">
								<img src="assets/images/gallery/gallery-five.jpg" alt="gallery-image" class="img-fluid">
								<div class="primary-overlay">
									<a class="image-popup" data-effect="mfp-with-zoom" href="assets/images/gallery/gallery-popup-five.jpg"><i
											class="fa fa-picture-o"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="gallery-item col-lg-4 col-md-6" data-groups="[&quot;events&quot;,&quot;conference&quot;]">
						<div class="image-block">
							<div class="image">
								<img src="assets/images/gallery/gallery-six.jpg" alt="gallery-image" class="img-fluid">
								<div class="primary-overlay">
									<a class="image-popup" data-effect="mfp-with-zoom" href="assets/images/gallery/gallery-popup-six.jpg"><i
											class="fa fa-picture-o"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--====  End of Gallery  ====-->

<!--===========================================
=            Call to Action Ticket            =
============================================-->

<section class="cta-ticket bg-ticket overlay-dark">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<!-- Get ticket info -->
				<div class="content-block">
					<h2>Get Your Ticket <span class="alternate">Now!</span></h2>
					<p>Don't miss out on the imporant events - stay in the loop with our event schedule.</p>
					<a href="" class="btn btn-main-md">VIEW SCHEDULE</a>
				</div>
			</div>
		</div>
	</div>
	<div class="image-block"><img src="assets/images/speakers/speaker-ticket.png" alt="" class="img-fluid"></div>
</section>

<!--====  End of Call to Action Ticket  ====-->

<!--==============================
=            Sponsors            =
===============================-->

<section class="sponsors section bg-sponsors overlay-white">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h3>Our <span class="alternate">Sponsors</span></h3>
					<p>Building a stronger business ecosystem together – meet our valued sponsors</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<!-- Title -->
				<div class="sponsor-title text-center">
					<h5>Platinum Sponsors</h5>
				</div>
				<div class="block text-center">
					<!-- Sponsors image list -->
					<ul class="list-inline sponsors-list">
						<li class="list-inline-item">
							<div class="image-block text-center">
								<a href="#">
									<img src="assets/images/sponsors/pt-spon-two.png" alt="sponsors-logo" class="img-fluid">
								</a>
							</div>
						</li>
						<li class="list-inline-item">
							<div class="image-block text-center">
								<a href="#">
									<img src="assets/images/sponsors/pt-spon-two.png" alt="sponsors-logo" class="img-fluid">
								</a>
							</div>
						</li>
						<li class="list-inline-item">
							<div class="image-block text-center">
								<a href="#">
									<img src="assets/images/sponsors/pt-spon-three.png" alt="sponsors-logo" class="img-fluid">
								</a>
							</div>
						</li>
						<li class="list-inline-item">
							<div class="image-block text-center">
								<a href="#">
									<img src="assets/images/sponsors/pt-spon-four.png" alt="sponsors-logo" class="img-fluid">
								</a>
							</div>
						</li>
					</ul>
				</div>
				<!-- Title -->
				<div class="sponsor-title text-center">
					<h5>Gold Sponsors</h5>
				</div>
				<div class="block text-center">
					<!-- Sponsors image list -->
					<ul class="list-inline sponsors-list">
						<li class="list-inline-item">
							<div class="image-block text-center">
								<a href="#">
									<img src="assets/images/sponsors/gl-spon-one.png" alt="sponsors-logo" class="img-fluid">
								</a>
							</div>
						</li>
						<li class="list-inline-item">
							<div class="image-block text-center">
								<a href="#">
									<img src="assets/images/sponsors/gl-spon-two.png" alt="sponsors-logo" class="img-fluid">
								</a>
							</div>
						</li>
						<li class="list-inline-item">
							<div class="image-block text-center">
								<a href="#">
									<img src="assets/images/sponsors/gl-spon-three.png" alt="sponsors-logo" class="img-fluid">
								</a>
							</div>
						</li>
					</ul>
				</div>
				<div class="sponsor-btn text-center">
					<a href="contact.html" class="btn btn-main-md">Become a sponsor</a>
				</div>
			</div>
		</div>
	</div>
</section>


<!--====  End of Sponsors  ====-->