
<!-- Event Post Section -->
<section class="news section">
  <div class="container">
    <div class="section-title">
      <h3>Booking <span class="alternate">Made Simple</span></h3>
                <p class="text-center note"><i class="fa fa-info-circle"></i> Date and time of events are susceptible to change.</p>
    </div>
    <div class="row mt-30">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="block">
          <!-- Article -->
          <article class="blog-post single">
            <div class="post-thumb">
              <img src="assets/images/events/event8single.jpg" alt="post-image" class="img-fluid">
            </div>
            <div class="post-content">
              <div class="date">
                <h4>10<span>May</span></h4>
              </div>
              <div class="post-title">
                <h3>Tech Conference</h3>
              </div>
              <div class="post-meta">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <i class="fa fa-map-pin"></i>
                    <a href="#">Zenica</a>
                  </li>
                  <li class="list-inline-item">
                    <i class="fa fa-user-o"></i>
                    <a href="#">500+</a>
                  </li>
                  <li class="list-inline-item">
                    <i class="fa fa-money"></i>
                    <a href="#">40$</a>
                  </li>
                </ul>
              </div>
              <div class="post-details">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut labore dolore magna aliqua enim ad minim veniam quis nostrud.</p>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                <div class="quotes">
                  <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut labore dolore magna aliqua enim ad minim veniam quis nostrud.</blockquote>
                </div>
                <p>Amet consectetur adipisicing elit, sed do eiusm tempor incididunt ut labore dolore magna aliqua enim ad minim veniam quis nostrud.</p>
                <div class="share">
                  <p>Share:</p>
                  <ul class="social-links-share list-inline">
                    <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-rss"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-vimeo"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>

      <!-- Ticket Booking Form -->
      <div class="col-lg-4 col-md-10 mx-auto">
        <div class="sidebar">
          <!-- Booking Form -->
          <div class="widget booking-form">
            <h5 class="widget-header">Book Your Ticket</h5>
            <form action="#" class="row">
              <div class="col-md-12">
                <input type="text" class="form-control main" name="name" id="name" placeholder="Your Name" required>
              </div>
              <div class="col-md-12">
                <input type="email" class="form-control main" name="email" id="email" placeholder="Your Email" required>
              </div>
              <div class="col-md-12">
                <input type="text" class="form-control main" name="phone" id="phone" placeholder="Your Phone Number" required>
              </div>
              <div class="col-md-12">
                <input type="number" class="form-control main" name="tickets" id="tickets" placeholder="Number of Tickets" required>
              </div>
              <div class="col-md-12">
                <textarea class="form-control main" name="comments" id="comments" rows="4" placeholder="Any special requests?"></textarea>
              </div>
              <div class="col-12">
                <button class="btn btn-main-md" type="submit">Book Now</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>

